USE [AgencijaNekretnina]
GO
ALTER TABLE [dbo].[Ugovor] DROP CONSTRAINT [FK_Ugovor_Placanje]
GO
ALTER TABLE [dbo].[Ugovor] DROP CONSTRAINT [FK_Ugovor_Nekretnina]
GO
ALTER TABLE [dbo].[SlikeNekretnine] DROP CONSTRAINT [FK_SlikeNekretnine_Nekretnina]
GO
ALTER TABLE [dbo].[Rezervacija] DROP CONSTRAINT [FK_Rezervacija_AspNetUsers]
GO
ALTER TABLE [dbo].[Nekretnina] DROP CONSTRAINT [FK_Nekretnina_Tip]
GO
ALTER TABLE [dbo].[Nekretnina] DROP CONSTRAINT [FK_Nekretnina_Status]
GO
ALTER TABLE [dbo].[Nekretnina] DROP CONSTRAINT [FK_Nekretnina_Preduzimac]
GO
ALTER TABLE [dbo].[Nekretnina] DROP CONSTRAINT [FK_Nekretnina_AspNetUsers]
GO
ALTER TABLE [dbo].[AspNetUserTokens] DROP CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserLogins] DROP CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserClaims] DROP CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims] DROP CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
/****** Object:  Index [UserNameIndex]    Script Date: 27.05.2024 21:16:45 ******/
DROP INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
GO
/****** Object:  Index [EmailIndex]    Script Date: 27.05.2024 21:16:45 ******/
DROP INDEX [EmailIndex] ON [dbo].[AspNetUsers]
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 27.05.2024 21:16:45 ******/
DROP INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 27.05.2024 21:16:45 ******/
DROP INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 27.05.2024 21:16:45 ******/
DROP INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 27.05.2024 21:16:45 ******/
DROP INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 27.05.2024 21:16:45 ******/
DROP INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
GO
/****** Object:  Table [dbo].[Ugovor]    Script Date: 27.05.2024 21:16:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ugovor]') AND type in (N'U'))
DROP TABLE [dbo].[Ugovor]
GO
/****** Object:  Table [dbo].[Tip]    Script Date: 27.05.2024 21:16:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tip]') AND type in (N'U'))
DROP TABLE [dbo].[Tip]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 27.05.2024 21:16:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Status]') AND type in (N'U'))
DROP TABLE [dbo].[Status]
GO
/****** Object:  Table [dbo].[SlikeNekretnine]    Script Date: 27.05.2024 21:16:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SlikeNekretnine]') AND type in (N'U'))
DROP TABLE [dbo].[SlikeNekretnine]
GO
/****** Object:  Table [dbo].[Rezervacija]    Script Date: 27.05.2024 21:16:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rezervacija]') AND type in (N'U'))
DROP TABLE [dbo].[Rezervacija]
GO
/****** Object:  Table [dbo].[Preduzimac]    Script Date: 27.05.2024 21:16:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Preduzimac]') AND type in (N'U'))
DROP TABLE [dbo].[Preduzimac]
GO
/****** Object:  Table [dbo].[Placanje]    Script Date: 27.05.2024 21:16:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Placanje]') AND type in (N'U'))
DROP TABLE [dbo].[Placanje]
GO
/****** Object:  Table [dbo].[Nekretnina]    Script Date: 27.05.2024 21:16:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Nekretnina]') AND type in (N'U'))
DROP TABLE [dbo].[Nekretnina]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 27.05.2024 21:16:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserTokens]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserTokens]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 27.05.2024 21:16:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUsers]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUsers]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 27.05.2024 21:16:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserRoles]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 27.05.2024 21:16:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserLogins]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserLogins]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 27.05.2024 21:16:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserClaims]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserClaims]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 27.05.2024 21:16:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetRoles]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetRoles]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 27.05.2024 21:16:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetRoleClaims]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetRoleClaims]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 27.05.2024 21:16:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
USE [master]
GO
/****** Object:  Database [AgencijaNekretnina]    Script Date: 27.05.2024 21:16:45 ******/
DROP DATABASE [AgencijaNekretnina]
GO
/****** Object:  Database [AgencijaNekretnina]    Script Date: 27.05.2024 21:16:45 ******/
CREATE DATABASE [AgencijaNekretnina]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgencijaNekretnina', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AgencijaNekretnina.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AgencijaNekretnina_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AgencijaNekretnina_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgencijaNekretnina].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgencijaNekretnina]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 27.05.2024 21:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 27.05.2024 21:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 27.05.2024 21:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 27.05.2024 21:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 27.05.2024 21:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 27.05.2024 21:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 27.05.2024 21:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[Discriminator] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[isApproved] [bit] NULL,
	[Employed] [bit] NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 27.05.2024 21:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nekretnina]    Script Date: 27.05.2024 21:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nekretnina](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTip] [int] NOT NULL,
	[IdStatus] [int] NOT NULL,
	[IdUser] [nvarchar](450) NULL,
	[IdPreduzimac] [int] NOT NULL,
	[Adresa] [nvarchar](150) NOT NULL,
	[Cena] [decimal](18, 0) NOT NULL,
	[Kvadratura] [float] NOT NULL,
	[BrojSoba] [float] NOT NULL,
	[Opis] [nvarchar](max) NULL,
	[Slika] [nvarchar](250) NULL,
 CONSTRAINT [PK_Nekretnina] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Placanje]    Script Date: 27.05.2024 21:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Placanje](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NacinPlacanja] [nvarchar](150) NOT NULL,
	[Opis] [nvarchar](600) NULL,
 CONSTRAINT [PK_Placanje] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preduzimac]    Script Date: 27.05.2024 21:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preduzimac](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](150) NOT NULL,
	[BrojNekretnina] [int] NOT NULL,
	[Opis] [nvarchar](max) NULL,
 CONSTRAINT [PK_Preduzimac] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rezervacija]    Script Date: 27.05.2024 21:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervacija](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdAgenta] [nvarchar](450) NOT NULL,
	[Opis] [nvarchar](max) NULL,
	[DatumOd] [datetime] NOT NULL,
	[DatumDo] [datetime] NOT NULL,
 CONSTRAINT [PK_Rezervacija] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SlikeNekretnine]    Script Date: 27.05.2024 21:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SlikeNekretnine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdNekretnine] [int] NOT NULL,
	[UrlSlike] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_SlikeNekretnine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 27.05.2024 21:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] NOT NULL,
	[NazivStatusa] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tip]    Script Date: 27.05.2024 21:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tip](
	[Id] [int] NOT NULL,
	[NazivTipa] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Tip] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ugovor]    Script Date: 27.05.2024 21:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ugovor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPlacanja] [int] NOT NULL,
	[IdNekretnine] [int] NOT NULL,
	[PunoIme] [nvarchar](250) NOT NULL,
	[BrojTelefona] [nvarchar](50) NOT NULL,
	[Datum] [date] NOT NULL,
	[Iznos] [decimal](18, 0) NOT NULL,
	[Jmbg] [bigint] NOT NULL,
	[PdfUrl] [nvarchar](350) NULL,
 CONSTRAINT [PK_Ugovor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'1', N'Admin', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'2', N'Menadzer', N'MENADZER', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'3', N'Agent', N'AGENT', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'310cbade-b6b8-4e3c-8894-65771f6fe358', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'c344caa9-d743-4b76-9221-228728c1f35d', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'358ca8d0-cc6f-45ea-bde3-ce7a90c757e9', N'2')
GO
SET IDENTITY_INSERT [dbo].[Nekretnina] ON 

SET IDENTITY_INSERT [dbo].[Nekretnina] OFF
GO
SET IDENTITY_INSERT [dbo].[Placanje] ON 

INSERT [dbo].[Placanje] ([Id], [NacinPlacanja], [Opis]) VALUES (1, N'Gotovina', NULL)
INSERT [dbo].[Placanje] ([Id], [NacinPlacanja], [Opis]) VALUES (2, N'Kredit', NULL)
SET IDENTITY_INSERT [dbo].[Placanje] OFF
GO
SET IDENTITY_INSERT [dbo].[Preduzimac] ON 

INSERT [dbo].[Preduzimac] ([Id], [Naziv], [BrojNekretnina], [Opis]) VALUES (11, N'BG Invest', 5, N'Bg invest doo je privatna projektantsko-građevinska kompanija sa sedištem u Beogradu u ulici Nebojšina 20.')
INSERT [dbo].[Preduzimac] ([Id], [Naziv], [BrojNekretnina], [Opis]) VALUES (12, N'ELSA SYSTEM doo', 7, N'ELSA SYSTEM doo je privatna  kompanija sa sedištem na Zlatiboru u ulici Andrije Jevremovića 42. Vrši gradnju u Užicama, Tari, Kopaoniku i Zlatiboru.')
INSERT [dbo].[Preduzimac] ([Id], [Naziv], [BrojNekretnina], [Opis]) VALUES (13, N'GRADEKS', 9, N'Preduzeće "GRADEKS" d.o.o. smešteno je u Loznici, u Ulici Učiteljska br.12. Osnovna delatnost preduzeća je izgradnja stambenih objekata.')
SET IDENTITY_INSERT [dbo].[Preduzimac] OFF
GO
SET IDENTITY_INSERT [dbo].[Rezervacija] ON 

INSERT [dbo].[Rezervacija] ([Id], [IdAgenta], [Opis], [DatumOd], [DatumDo]) VALUES (11, N'478feb76-40ca-421b-b316-f9fd4e53a167', N'Pregled Nekretnine Jasenička - Vera Radosavljevic.', CAST(N'2024-05-27T08:05:00.000' AS DateTime), CAST(N'2024-05-27T09:30:00.000' AS DateTime))
INSERT [dbo].[Rezervacija] ([Id], [IdAgenta], [Opis], [DatumOd], [DatumDo]) VALUES (12, N'478feb76-40ca-421b-b316-f9fd4e53a167', N'Sklapanje ugovora - Petar Ristic.', CAST(N'2024-05-29T12:00:00.000' AS DateTime), CAST(N'2024-05-29T13:15:00.000' AS DateTime))
INSERT [dbo].[Rezervacija] ([Id], [IdAgenta], [Opis], [DatumOd], [DatumDo]) VALUES (13, N'478feb76-40ca-421b-b316-f9fd4e53a167', N'Razgledanje stana Vojislava Ilica - Marija Rakovic.', CAST(N'2024-05-31T08:10:00.000' AS DateTime), CAST(N'2024-05-31T09:35:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Rezervacija] OFF
GO
SET IDENTITY_INSERT [dbo].[SlikeNekretnine] ON 

INSERT [dbo].[SlikeNekretnine] ([Id], [IdNekretnine], [UrlSlike]) VALUES (69, 46, N'2d0f1899-3d81-4c13-9fc0-e467150b12c5_jana-heinemann-pVQM6vJg92M-unsplash.jpg')
INSERT [dbo].[SlikeNekretnine] ([Id], [IdNekretnine], [UrlSlike]) VALUES (70, 46, N'2525cd37-3093-46fd-8240-5de31e2d77b5_naomi-hebert-MP0bgaS_d1c-unsplash.jpg')
INSERT [dbo].[SlikeNekretnine] ([Id], [IdNekretnine], [UrlSlike]) VALUES (71, 46, N'ed64710a-c5a2-4eb8-939e-904356cc23be_pankaj-shah-1ff_i7jO-4g-unsplash.jpg')
GO
SET IDENTITY_INSERT [dbo].[SlikeNekretnine] OFF
GO
INSERT [dbo].[Status] ([Id], [NazivStatusa]) VALUES (1, N'Dostupno')
INSERT [dbo].[Status] ([Id], [NazivStatusa]) VALUES (2, N'Nedostupno')
GO
INSERT [dbo].[Tip] ([Id], [NazivTipa]) VALUES (1, N'Stan')
INSERT [dbo].[Tip] ([Id], [NazivTipa]) VALUES (2, N'Kuca')
INSERT [dbo].[Tip] ([Id], [NazivTipa]) VALUES (3, N'Poslovni prostor')
GO
SET IDENTITY_INSERT [dbo].[Ugovor] ON 

INSERT [dbo].[Ugovor] ([Id], [IdPlacanja], [IdNekretnine], [PunoIme], [BrojTelefona], [Datum], [Iznos], [Jmbg], [PdfUrl]) VALUES (4, 2, 1071, N'Bojana Kisić', N'0618237364', CAST(N'2024-01-23' AS Date), CAST(122400 AS Decimal(18, 0)), 62739203842, NULL)
INSERT [dbo].[Ugovor] ([Id], [IdPlacanja], [IdNekretnine], [PunoIme], [BrojTelefona], [Datum], [Iznos], [Jmbg], [PdfUrl]) VALUES (5, 2, 1070, N'Branislav Dukic', N'0638273827', CAST(N'2024-01-23' AS Date), CAST(118450 AS Decimal(18, 0)), 91283728141, NULL)
INSERT [dbo].[Ugovor] ([Id], [IdPlacanja], [IdNekretnine], [PunoIme], [BrojTelefona], [Datum], [Iznos], [Jmbg], [PdfUrl]) VALUES (6, 2, 67, N'Marija Culibrk', N'0603829374', CAST(N'2024-02-23' AS Date), CAST(124800 AS Decimal(18, 0)), 82930187593, N'/pdf/6d38cb4c-fcf1-44c1-8a58-350652d0ab2e_Marija Culibrk.pdf')
SET IDENTITY_INSERT [dbo].[Ugovor] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 27.05.2024 21:16:46 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 27.05.2024 21:16:46 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 27.05.2024 21:16:46 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 27.05.2024 21:16:46 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 27.05.2024 21:16:46 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 27.05.2024 21:16:46 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 27.05.2024 21:16:46 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Nekretnina]  WITH CHECK ADD  CONSTRAINT [FK_Nekretnina_AspNetUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Nekretnina] CHECK CONSTRAINT [FK_Nekretnina_AspNetUsers]
GO
ALTER TABLE [dbo].[Nekretnina]  WITH CHECK ADD  CONSTRAINT [FK_Nekretnina_Preduzimac] FOREIGN KEY([IdPreduzimac])
REFERENCES [dbo].[Preduzimac] ([Id])
GO
ALTER TABLE [dbo].[Nekretnina] CHECK CONSTRAINT [FK_Nekretnina_Preduzimac]
GO
ALTER TABLE [dbo].[Nekretnina]  WITH CHECK ADD  CONSTRAINT [FK_Nekretnina_Status] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[Nekretnina] CHECK CONSTRAINT [FK_Nekretnina_Status]
GO
ALTER TABLE [dbo].[Nekretnina]  WITH CHECK ADD  CONSTRAINT [FK_Nekretnina_Tip] FOREIGN KEY([IdTip])
REFERENCES [dbo].[Tip] ([Id])
GO
ALTER TABLE [dbo].[Nekretnina] CHECK CONSTRAINT [FK_Nekretnina_Tip]
GO
ALTER TABLE [dbo].[Rezervacija]  WITH CHECK ADD  CONSTRAINT [FK_Rezervacija_AspNetUsers] FOREIGN KEY([IdAgenta])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Rezervacija] CHECK CONSTRAINT [FK_Rezervacija_AspNetUsers]
GO
ALTER TABLE [dbo].[SlikeNekretnine]  WITH CHECK ADD  CONSTRAINT [FK_SlikeNekretnine_Nekretnina] FOREIGN KEY([IdNekretnine])
REFERENCES [dbo].[Nekretnina] ([Id])
GO
ALTER TABLE [dbo].[SlikeNekretnine] CHECK CONSTRAINT [FK_SlikeNekretnine_Nekretnina]
GO
ALTER TABLE [dbo].[Ugovor]  WITH CHECK ADD  CONSTRAINT [FK_Ugovor_Nekretnina] FOREIGN KEY([IdNekretnine])
REFERENCES [dbo].[Nekretnina] ([Id])
GO
ALTER TABLE [dbo].[Ugovor] CHECK CONSTRAINT [FK_Ugovor_Nekretnina]
GO
ALTER TABLE [dbo].[Ugovor]  WITH CHECK ADD  CONSTRAINT [FK_Ugovor_Placanje] FOREIGN KEY([IdPlacanja])
REFERENCES [dbo].[Placanje] ([Id])
GO
ALTER TABLE [dbo].[Ugovor] CHECK CONSTRAINT [FK_Ugovor_Placanje]
GO
USE [master]
GO
