<div class="text-center" style="margin-top: 30px;">
    <h1 style="color:red">Nedozvoljen pristup!</h1>
    <h6 style="color:red">Pristup podacima nije moguć. Vratite se nazad.</h6>
    <i class="fa-solid fa-warning" style="color:red; height:80px; width:100%;"></i>
</div>