@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@*<h1>@ViewData["Title"]</h1>*@
<div class="wrappers">
    <div class="form-box login">
            <form id="account" method="post">
                <h2>Login</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-box">
                @*<label asp-for="Input.Email"></label>*@
                    <i class="fa-solid fa-envelope"></i>
                    
                    <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Email" /> @* class="form-control" class="form-label" *@
                    
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                
                <div class="input-box">
                    @*<label asp-for="Input.Password" ></label>*@
                    <i class="fa-solid fa-lock"></i>
                    
                    <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="Lozinka" />
                    
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="dugme">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
                </div>
                <div class="login-register">
                    <p>Ukoliko nemate nalog 
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="register-link">Registrujte se  <i class="fa-solid fa-arrow-right-long"></i></a>
                    
                    </p>
                </div>
            </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('footer').empty();
        $('#sidebar').empty();
        $('#header').empty();
    })
</script>

@section Styles{
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link href="~/css/login.css" rel="stylesheet" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @*<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>*@
}
